# Python
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
*.h5
!SuperCondTrans/Tdgl/input/**/*.h5
*.zip

# Claude
.claude/
CLAUDE.md

# Internal Info
SuperCondTrans/Tdgl/dev/

# Future
SuperCondTrans/Current-Voltage/
SuperCondTrans/Measurements/
SuperCondTrans/Phase-Diagram/
SuperCondTrans/Resistance/